Dataset/
venv/
__pycache__
*.pyc
Preprocessing/Alla_output_final/
utils/__pycache__/
Input/
Preprocessing/Output/
.venv/
Preprocessing/.env/
*.env
training/lora1/
training/Dataset/
Preprocessing/output.zip
Preprocessing/output
**/.env

